{% extends "cart/base.html" %}


{% block title %}Order Details {% endblock %}
{% block header %}<h1>Order Details</h1>{% endblock %}


{% block content %}

{% if items %}
<table>
    <tr>
        <th>Item Name</th>
        <th>Quantity</th>
        <th>Price</th>
        <th>Total</th>
    </tr>
    {% for item in items %}
    <tr>
        <td>{{ item.name }}</td>
        <td>{{ item.quantity }}</td>
        <td>{{ item.price }}</td>
        <td>{{ item.total }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>There are no items in the cart.</p>
{% endif %}

<p><a href="{% url 'donation:donation_create' %}">Back to donations</a></p>

{% endblock %}


{% block sidebar %}

<p><strong>{{ cart.num_items }} item(s) in cart</strong></p><hr />
<h3>Order Summary</h3>
<table>
    <tr>
        <td>Item Subtotal</td>
        <td>${{ cart.get_total_price }}</td>
    </tr>
</table>

{% if cart.num_items > 0 %}
<p><a href="#">Continue to checkout</a></p>
{% else %}
<p><strong>Add items to cart to checkout!</strong></p>
{% endif %}


{% endblock %}