{% if donations %}
<p>Here are the donations you have made:</p>
<table>
    <tr>
        <th>Date Donated</th>
        <th>Time Donated</th>
        <th>Donation Amount</th>
        <th>Donation Type</th>
    </tr>
    {% for donation in donations %}
    <tr>
        <td>{{ donation.donation_time|date:"M d, Y" }}</td>
        <td>{{ donation.donation_time|time:"h:i A" }}</td>
        <td>${{ donation.amount }}</td>
        <td>{{ donation.type }}</td>
    </tr>
    {% endfor %}
</table>
{% else %}
<p>You have not made any donations yet.</p>
{% endif %}
